* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: grid;
	background: #ffffff;
	color: #033048;
	grid-gap: 20px;
	grid-template-columns: 25% 50% 35%;
	grid-template-rows: 100px 600px 100px;
	grid-template-areas: "a a a"
						 "b c d"
						 "e e e"
}

header {
	grid-area: a;
	display: flex;
	justify-content: space-between;
	background-image: url(../starter_code/images/bg.jpg);
	background-size: cover;
	height: 100px;
}

h1 , #logo {
	display: flex;
	align-items: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 900;
	padding-left: 40px;
}

nav {
	width: 40%;
	font-size: 12px;
	font-weight: 700;
}

ul {
	list-style-type: none;
	margin: 0;
}

header ul {
	display: flex;
	justify-content: space-around; /* adjust space between */
	align-items: center;
	height: 100%;
	width: 100%;
}

aside ul {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	padding: 3px 0;
}

li {
	text-align: center;
	padding: 3px 0;
}

.nav-li {
	text-decoration: none;
	color: white;
}

aside {
	grid-area: b;
	padding: 0 30px;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: center; ---- fix spacing-- */
}

h3 {
	color: black;
	font-size: 20px;
	padding: 3px 0;
	font-weight: 900;
	margin: 0;
	padding-left: 40px;
}

a.categories , a.latest {
	text-decoration: none;
	color: rgb(142,149,146);
	padding-left: 40px;
}

article {
	grid-area: c; 
}

h2 {
	color: black;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

p {
	padding: 3px 0;
	font-size: 14px;
} 

#class {   /* not turning gray */
	font-size: 12px;
	color: rgb(142,149,146);
	font-weight: 300;
}

#images {
	grid-area: d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 80%;
}

footer {
	grid-area: e;
	text-align: center;	
	background: rgb(242,244,246);
	height: 100px;
}

footer p {
	font-size: 40px;
	font-weight: 900;
	color: rgb(113,122,128);
	margin: 0;
	padding-top: 10px;
}

#copyright {
	font-size: 9px;
	font-weight: 700;
}



img {
	height: 200px;
	width: 300px;
}